.row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */

    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
footer
{
text-align:center;
color:cornflowerblue;
}
table {
  margin-left:auto;
  margin-right:auto;
}
li{
float :left;
}

li a
{
text-decoration: none;
display:block;
padding: 10px 10px 10px 10px;
}
