{% extends 'app_posting/base.html'%}
{%block title%}
<title>ALLPOST</title>
    {% endblock %}
{% block content%}
<form method="post" action="">
     {% csrf_token %}
    {% if status %}
   <div class="container-fluid">
    <div class="row">
    {% for i in status %}
        <div class="col-md-6">
            <div class="img-thumbnail">
                Title:<a href="#">{{i.title}}</a><small style="float:right">{{i.name}}</small>

                <hr>
                {{i.description}}<br><br>




        </a></td>
            </div>

<br>
        </div>
        <br><br><br>
    </div>

</div>

{% endfor %}

    {% endif %}

    </form>
{%endblock%}